@using SosCivil.Mvc.Models.Auth;
@model UsuarioRegistroViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="d-flex w-100 h-100">
    <div class="w-50 h-100" style="background:red">

    </div>
    <div>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Senha" class="form-label">Senha</label>
                <input asp-for="Senha" type="password" class="form-control">
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Entrar</button>

        </form>
    </div>

</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}