@model MeuPerfilViewModel

@{
    ViewBag.Title = "Meu Perfil";
}

<h1>Meu Perfil</h1>

<div>
    <label>Nome:</label>
    <input type="text" value="@Model.Nome" class="readonly-field" readonly />
</div>
<div>
    <label>Email:</label>
    <input type="text" value="@Model.Email" class="readonly-field" readonly />
</div>
<div>
    <label>Documento:</label>
    <input type="text" value="@Model.Pessoa.Documento" class="readonly-field" readonly />
</div>
<div>
    <label>Telefone:</label>
    <input type="text" value="@Model.Pessoa.Telefone" class="readonly-field" readonly />
</div>

<div class="my-4">
    <a type="button" onclick="voltarPagina()" class="btn btn-dark float-right returnButtonMeuPerfil"><i class="las la-arrow-left fontsize-20" alt="Voltar"></i></a>
</div>
