@{
    ViewData["Title"] = "Suprimentos";
}

<!DOCTYPE html>
<html lang="pt-br">
<body>
    <h1 class="titlePage">
        SUPRIMENTOS
    </h1>
    <a href="@Url.Action("RegistrationSupriments")" style="background-color: orange; color: black; border: none;" class="btn btn-primary">Cadastrar Documento</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Item</th>
                <th scope="col">Estoque</th>
                <th scope="col">Unidade Medida</th>
                <th scope="col">R$/Kg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Lona Padrão</td>
                <td>60</td>
                <td>kg</td>
                <td>R$ 15,00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Telha 6 mm</td>
                <td>120</td>
                <td>Un</td>
                <td>R$ 25,00</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Lona Grossa</td>
                <td>35</td>
                <td>m²</td>
                <td>R$ 25,00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>