body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--secondaryColor) var(--secondaryColor);
}

.fontsize-16 {
    font-size: 16px;
}

.fontsize-20 {
    font-size: 20px;
}

.fontsize-24 {
    font-size: 24px;
}

.fontsize-28 {
    font-size: 28px;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 0;
    color: var(--secondaryColor);
}

a {
    text-decoration: none;
}

:root {
    --primaryColor: #fca311;
    --secondaryColor: #14213d;
    --secondaryColor50: rgba(20, 33, 61, 0.7);
    --primaryTextColor: #14213d;
    --secondaryTextColor: #14213d;
    --nav: #e5e5e5;
    --darkNavBg: #e5e5e5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: var(--darkNavBg);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primaryColor);
    box-shadow: inset 0 0 1px 1px var(--secondaryTextColor);
}

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to top, rgb(183 117 10), var(--primaryColor) 50%, rgb(183 117 10));
    }

    ::-webkit-scrollbar-thumb:active {
        background: linear-gradient( 45deg, var(--primaryColor), rgb(183 117 10) 50%, var(--primaryColor));
    }

.nav-bar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--nav);
    padding: 2px 25px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 1px 0px var(--primaryColor), 0 2px 0 var(--primaryColor), 0 3px 12px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

    .nav-bar .toggle-menu {
        width: 26px;
        height: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 3px;
    }

.toggle-menu.active {
    background-color: var(--primaryColor);
}

.nav-bar .toggle-menu:hover {
    background-color: var(--primaryColor);
}

.anim-bar {
    animation: animBar 0.5s ease;
}

@keyframes animBar {
    0% {
        width: 18px;
    }

    15% {
        width: 12px;
    }

    30% {
        width: 25px;
    }

    45% {
        width: 15px;
    }

    60% {
        width: 20px;
    }

    75% {
        width: 16px;
    }

    100% {
        width: 18px;
    }
}



.side-menu {
    z-index: 1;
    width: 0;
    height: calc(100% - 33px);
    background-color: var(--primaryColor);
    border-right: 0px solid transparent;
    overflow: hidden;
    top: 40px;
    left: 0;
    padding-top: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    overflow-y: auto;
    padding-bottom: 20px;
    top: 35px;
    transition: left 0.4s ease, border-radius 0.3s ease, clip-path 0.5s cubic-bezier(0.81, 0.51, 0.09, 1.05);
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

    .side-menu.resize {
        width: 250px;
        border-right: 2px solid var(--primaryColor);
        background-color: var(--darkNavBg);
        -webkit-clip-path: circle(141.4% at 0 0);
        clip-path: circle(141.4% at 0 0);
        transition: background-color 0.5s ease, border-radius 0.3s ease, clip-path 0.5s cubic-bezier(0.81, 0.51, 0.09, 1.05);
    }

    .side-menu .menu-items {
        padding: 0px 15px;
    }

    .side-menu a {
        position: relative;
        text-decoration: none;
        color: var(--secondaryColor);
        width: 100%;
        height: 35px;
        margin: 20px;
        padding: 30px 20px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 500;
        -webkit-user-select: none;
        user-select: none;
        overflow: hidden;
        transition: color 0.2s ease;
    }

        .side-menu a:first-child {
            margin-top: 0;
        }

        .side-menu a:hover {
            color: var(--secondaryColor);
        }

        .side-menu a.active {
            color: var(--primaryTextColor);
        }

        .side-menu a::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 0px;
            background-color: var(--nav);
            border-radius: 35px;
            transition: width 0.2s ease, height 0.3s ease, border-radius 0.3s ease, transform 0.2s ease, background-color 0.3s ease-in;
            z-index: -1;
        }

        .side-menu a:hover::after {
            width: 70%;
            height: 20px;
            border-radius: 0;
            transform: skewX(-45deg);
            background-color: var(--primaryColor);
        }

        .side-menu a.active::after {
            background: linear-gradient( 45deg, var(--nav), var(--nav) );
            width: 100%;
            height: 100%;
            bottom: 0px;
            border-radius: 35px;
            left: 0;
            transform: skewX(0);
            animation: active 0.2s ease;
        }

@keyframes active {
    0% {
        height: 6px;
        width: 70%;
        border-radius: 0;
    }

    70% {
        height: 6px;
        width: 100%;
        border-radius: 35px;
    }

    75%, 100% {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .side-menu.resize {
        width: 100%;
        left: 0;
        border-right: 0;
        background-color: var(--darkNavBg);
        -webkit-clip-path: circle(141.4% at 0 0);
        clip-path: circle(141.4% at 0 0);
    }

    .side-menu {
        margin-top: 10px;
        position: fixed;
        left: -250px;
        width: 0;
    }

        .side-menu a {
            font-size: 22px;
            margin: 20px 0;
            justify-content: center;
        }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primaryColor);
    }

    ::-webkit-scrollbar-thumb:active {
        background: var(--primaryColor);
    }

    .homeCards {
        margin-top: calc(200vw - 83vh);
    }
}

@media (max-width: 991px) {
    .icons {
        display: grid !important;
    }
}

#projectTitle {
    position: relative;
    left: 40px;
}

    #projectTitle h1 {
        font-family: "Bebas Neue", sans-serif;
        color: var(--secondaryColor);
        font-size: 40px;
        text-align: center;
        margin-bottom: 0;
        cursor: pointer
    }

#userImage {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;
    left: calc(90vw - 200px);
}

.errorDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.errorTitle {
    font-family: "Bebas Neue", sans-serif;
    color: var(--primaryColor);
    font-size: 60px;
    font-weight: 600;
}

.errorNumber {
    color: var(--secondaryColor);
}

.errorMessage {
    margin-top: 40px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--primaryColor);
    font-size: 30px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

    .icons i {
        color: var(--secondaryColor);
        margin: 0 10px;
    }

.homeCards {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cardsHome {
    border: 2px solid var(--primaryColor);
    border-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-size: 40px;
    text-align: center;
}

.cardsHome h2 {
    font-family: "Bebas Neue", sans-serif;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 768px) {
    .cardsHome:nth-child(1) {
        margin: 0 10px !important;
    }
}

.titlePage {
    text-align: center;
    margin-bottom: 1.5rem;
}

/*INPUTS*/

input:focus ~ label, textarea:focus ~ label, select:focus ~ label, input:valid ~ label, textarea:valid ~ label, select:valid ~ label {
    font-size: 0.75em;
    color: var(--secondaryColor);
    top: -20px;
    left: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: var(--secondaryColor);
    padding: 0 0 1rem 15px;
    position: absolute;
    top:10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

select,
input,
textarea {
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: var(--nav);
    color: black;
    border-radius: 4px;
}
    select:focus,
    input:focus,
    textarea:focus {
        outline: 0;
    }
        select:focus ~ span,
        input:focus ~ span,
        textarea:focus ~ span {
            width: 100%;
            -webkit-transition: all 0.075s ease;
            transition: all 0.075s ease;
        }