@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center">
    <img src="https://www.defesacivil.sc.gov.br/wp-content/uploads/2023/03/logo-defesa-civil-1.png" />
</div>




