@{
    ViewData["Title"] = "Home";
}


<h1>HOME</h1>

<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


