@{
    ViewData["Title"] = "Home";
}

<div class="homeCards d-flex flex-wrap">
    <div class="col-lg-6 col-md-6 col-12 mb-5">
        <a asp-controller="Documento" asp-action="Index" class="item">
            <div class="card cardsHome">
                <div class="card-body">
                    <i class="las la-folder-open me-2"></i>
                    <h2>Documentos</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mb-5">
        <a asp-controller="Suprimento" asp-action="Index" class="item">
            <div class="card cardsHome">
                <div class="card-body">
                    <i class="las la-box me-2"></i>
                    <h2>Suprimentos</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mb-5">
        <a asp-controller="Solicitacao" asp-action="Index" class="item">
            <div class="card cardsHome">
                <div class="card-body">
                    <i class="las la-file-alt me-2"></i>
                    <h2>Solicitações</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mb-5">
        <a asp-controller="Entrega" asp-action="Index" class="item">
            <div class="card cardsHome">
                <div class="card-body">
                    <i class="las la-truck me-2"></i>
                    <h2>Entregas</h2>
                </div>
            </div>
        </a>
    </div>
</div>