<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOSCivil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SosCivil.Mvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assets/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <header style="margin-bottom: 5rem!important;">
        <div class="nav-bar mb-5">
            <div id="menuToggle" class="toggle-menu active">
                <i class="las la-bars fontsize-20"></i>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index"><h1 id="projectTitle">SOSCIVIL</h1></a>
            </div>
            <div>
                <a asp-controller="MeuPerfil" asp-action="Index"><img id="userImage" src="./Assets/images/logoSosCivilSemFundo.png"/></a>
            </div>
        </div>



        <div id="sideMenu" class="side-menu">
            <div class="menu-items">
                <a asp-controller="Home" asp-action="Index" class="item"><i class="las la-home me-2 fontsize-20"></i>Home</a>
                <a asp-controller="Documento" asp-action="Index" class="item"><i class="las la-folder-open me-2 fontsize-20"></i>Documentos</a>
                <a asp-controller="Suprimento" asp-action="Index" class="item"><i class="las la-box me-2 fontsize-20"></i>Suprimentos</a>
                <a asp-controller="Solicitacao" asp-action="Index" class="item"><i class="las la-file-alt me-2 fontsize-20"></i>Solicitações</a>
                <a asp-controller="Entrega" asp-action="Index" class="item"><i class="las la-truck me-2 fontsize-20"></i>Entregas</a>
                <a asp-controller="Desastre" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Desastres</a>
                <a asp-controller="Cadastro" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Cadastro</a>
                <a asp-controller="Cadastro" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Cadastro</a>
                <a asp-controller="Cadastro" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Cadastro</a>
                <a asp-controller="Cadastro" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Cadastro</a>
                <a asp-controller="Cadastro" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Cadastro</a>
                <a asp-controller="Cadastro" asp-action="Index" class="item"><i class="las la-fire me-2 fontsize-20"></i>Cadastro</a>
            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const toggleMenu = document.getElementById("menuToggle");
        const sideMenu = document.getElementById("sideMenu");
        const content = document.querySelector(".content");
        const bars = document.querySelectorAll(".bar");
        const menuItems = document.querySelectorAll(".menu-items .item");

        toggleMenu.addEventListener("click", () => {
            sideMenu.classList.toggle("resize");
            content.classList.toggle("resize");
            toggleMenu.classList.toggle("active");

            bars.forEach((bar) => {
                bar.classList.add("anim-bar");
                setTimeout(() => {
                    bar.classList.remove("anim-bar");
                }, 1000);
            });
        });

    </script>
</body>
</html>


