@{
    ViewData["Title"] = "Documents";
}
<!DOCTYPE html>
<html lang="pt-br">
<body>
    <h1 class="titlePage">
        DOCUMENTOS
    </h1>
    <form>
        <fieldset disabled>
            <legend>Cadastrar documento</legend>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" aria-label="Username">
                <span class="input-group-text">CPF</span>
                <input type="text" class="form-control" placeholder="CPF" aria-label="Server">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Cobrade</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Analise</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Relato</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Orientacao</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Conclusao</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Leis defesa civil</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Anexar Arquivo</label>
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

</body>
</html>