@{
    ViewData["Title"] = "Documentos";
}

<!DOCTYPE html>
<html lang="pt-br">
<body>
    <h1 class="titlePage">
        DOCUMENTOS
    </h1>
    <a href="@Url.Action("Documents")" style="background-color: orange; color: black; border: none;" class="btn btn-primary">Cadastrar Documento</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Documento</th>
                <th scope="col">Pessoa Interesse</th>
                <th scope="col">Usuario Responsavel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Edificio Agua Luz</td>
                <td>João Vitor</td>
                <td>Vinicios Silva</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Edificio Drumont</td>
                <td>Vitoria Amaral</td>
                <td>Vinicios Silva</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Loja Da Luz</td>
                <td>Ronald Arante</td>
                <td>Vinicios Silva</td>
            </tr>
        </tbody>
    </table>
</body>
</html>