@{
    ViewData["Title"] = "Documentos";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css" />
</head>
<body>
    <h1>
        DOCUMENTOS
    </h1>
    <div id="myGrid" class="ag-theme-alpine" style="height: 500px"></div>
    <script src="~/js/Documentos/documento.js"></script>
</body>
</html>