<div class="errorDiv">
    <h1 class="errorTitle errorNumber">400</h1><h1 class="errorTitle">Solicitação Inválida</h1>
    <p class="errorMessage">Solicitação Inválida. Por favor, verifique os dados fornecidos e tente novamente.</p>
</div>