<div class="errorDiv">
    <h1 class="errorTitle errorNumber">404</h1><h1 class="errorTitle">Página não encontrada</h1>
    <p class="errorMessage">Lamentamos, mas a página que você está procurando não existe. Verifique se a URL está correta ou volte à página inicial.</p>
</div>