<div class="errorDiv">
    <h1 class="errorTitle errorNumber">500</h1><h1 class="errorTitle">Erro Interno do Servidor</h1>
    <p class="errorMessage">Desculpe-nos pelo inconveniente. Estamos enfrentando problemas técnicos temporários e trabalhamos para corrigi-los o mais rápido possível. Por favor, tente novamente mais tarde.</p>
</div>