<div class="errorDiv">
    <h1 class="errorTitle errorNumber">502</h1><h1 class="errorTitle">Gateway Ruim</h1>
    <p class="errorMessage">Gateway Ruim. Há um problema na comunicação entre servidores. Tente novamente mais tarde.</p>
</div>