<div class="errorDiv">
    <h1 class="errorTitle errorNumber">504</h1><h1 class="errorTitle">Tempo Limite do Gateway Expirado</h1>
    <p class="errorMessage">Tempo Limite do Gateway Expirado. O servidor demorou muito para responder. Recarregue a página.</p>
</div>