<div class="errorDiv">
    <h1 class="errorTitle errorNumber">000</h1><h1 class="errorTitle">Ocorreu um erro inesperado</h1>
    <p class="errorMessage">Lamentamos, mas algo deu errado durante o processamento da sua solicitação, tente novamente mais tarde.</p>
</div>